/*-----------------
        RESET
-------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------
    TEXT COLOR
-------------------*/

.number-container {
    display: flex;
}

/*-----------------
    TEXT COLOR
-------------------*/

.odd-number {
    color: red;
}

.even-number {
    color: green;
}